body{
    background-color: rgba(209, 209, 209, 0.075);
}
#arrow{
    width: 28px;
    background-color: transparent;
}
#top-btn{
    position: fixed;
    bottom: 65px;
    right: 5px;
    border: none;
    background-color: transparent;
    z-index: 0;
}
#top-btn:hover{
    transform: scale(1.2);
}
.header{
    position: fixed;
    height: 70px;
    background-color: rgba(209, 209, 209, 0.925);
    width: 100%;
    box-shadow: 5px 0px 5px 5px rgba(0, 0, 0, 0.295);
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 2;
}
.pg-btn:hover{
    transform: scale(1.2);
}
.pg-btn{ 
    margin-top: 45px;
}
#prev-btn{
    visibility: visible;
}